body {
    background: linear-gradient(to right, #FF4F00 0%, #D30068 50%, #600CAC 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#button {
    background-color: #ffffff;
    width: 15vw;
    height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    border-bottom-color: rgb(215, 215, 215);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    cursor: pointer;
}
p {
    font-size: 1.5em;
    font-weight: bold;
}
.questCont {
    background-color: #ffffff;
    width: 50vw;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}